* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    min-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.header {
    display: flex;
    justify-content: center;
    min-width: 100vw;
    margin-top: 20px;
    gap: 90px;

    div {
        font-size: 60px;
        font-weight: 700;
    }
}

.game {
    padding: 20px;
    gap: 10px;
    margin-top: 50px;
    min-height: 80vh;
    min-width: 100vmin;

}

.game-item {
    width: 140px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 1px 60px 100px rgba(0, 0, 0, 0.5);
}

.a,
.d {
    border-right: 3px solid rgb(253, 146, 200);
    border-bottom: 3px solid rgb(253, 146, 200);
}

.b,
.e {
    border-bottom: 3px solid rgb(253, 146, 200);
}

.c,
.f {
    border-left: 3px solid rgb(253, 146, 200);
    border-bottom: 3px solid rgb(253, 146, 200);
}

.g {
    border-right: 3px solid rgb(253, 146, 200);
}

.i {
    border-left: 3px solid rgb(253, 146, 200);
}

.button {
    --color: #ffffff;
    padding: 0.8em 1.7em;
    background-color: rgb(199, 154, 154);
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    display: block;
    margin: auto;
    border-radius: 12px;
}

.button::before,
.button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.button::before {
    top: -1em;
    left: -1em;
}

.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
    height: 410px;
    width: 410px;
}

.button:hover {
    color: rgb(10, 25, 30);
}

.button:active {
    filter: brightness(.8);
}

.restart {
    margin-top: 50px;
    display: none;
    background-color: aqua;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
};